<div class="row x hero-unit">
	<h2>
		BONME ADMIN
	</h2>
	<p>
		The <code>EDIT</code> button should be visible in the menu bar at the top right.
		Use that to make changes to the copy on the site. Text that can be editted will be highlighted in yellow (for images you just have to click)
	</p>
</div>

<div class="row x hero-unit">
<h2>Catering</h2>
<hr><h3>Individual Menu</h3>
<% copy :individual_cattering do %>copy<%end%>
<hr><h3>Platters Menu</h3>
<% copy :platters do %>copy<%end%>
</div>

<div class="row x hero-unit">
<h2>about</h2>
<% copy :about do %>copy<%end%>
</div>

<div class="row x hero-unit">
<h2>Menu Main Text</h2>
<hr><h3>Bon Me Sandwich</h3>
<% copy :menu_sandwich do %>copy<%end%>
<hr><h3>Menu Rice</h3>
<% copy :menu_rice do %>copy<%end%>
<hr><h3>Menu Noodle</h3>
<% copy :menu_noodle do %>copy<%end%>
</div>

<div class="row x hero-unit">
<h2>Menu</h2>
<hr><h3>Dessert</h3>
<% copy :dessert do %>copy<%end%>
<hr><h3>Drinks</h3>
<% copy :drinks do %>copy<%end%>
<hr><h3>Sides</h3>
<% copy :side do %>copy<%end%>
<hr><h3>Fillings</h3>
<% copy :filling do %>copy<%end%>
<hr><h3>Diet</h3>
<% copy :diet do %>copy<%end%>
</div>
