<div class="row about">
	<div class="span5 aboutpic">
		<img src="/images/aboutus.png" alt="About Us Picture">
		<h6 class="fullcaption">
			ABOUT US	
		</h6>
	</div>
	<div class="span7">
		<div class="white scrolling">
			<p>
				<% copy :about do%>
				Bon Me is run by Boston-bred husband and wife duo Patrick Lynch and Ali Fong. The business was born in 2010 when the two decided to enter the City of Boston’s Food Truck Contest on whim and surprised themselves by winning. With their win came the opening of the first Bon Me truck. 

Two years and lots of sandwiches, rice bowls, and noodle salads later, Bon Me has expanded to two food trucks and a restaurant proudly serving the Boston and Cambridge communities bold, fresh, and fun Vietnamese cuisine.

The Bon Me Sandwich, our most popular item, is a decidedly non-authentic banh mi sandwich. Our name and food is inspired by the classic Vietnamese banh mi sandwich, and those daring enough to take a step outside the traditional are sure to be met with a tasty meal made with the freshest ingredients and full of bold, unique flavors.

We at Bon Me strive on making as many house made items as we can. From the drinks to the dressings, if we can make it from scratch, we will. We’re also aware of the many dietary restrictions our customers have – as a result, there are numerous vegan, vegetarian and gluten free options on board. Just ask the order taker or check out our menu page for more details!

Enough chat! Get a taste of the Bon Me experience yourself at one of our many <a href="/locations">locations.</a>
				<%end%>
			</p>
		</div>
	</div>
</div>
