<div class="row gallery">
	<div class="span4">
		<img src="/images/contact.jpg" alt="Contact">
		<h4 class="fullcaption">
			CONTACT
		</h4>
	</div>
	<div class="span6 contactform">
		<form class="form-horizontal" action="mailto:jenn@bonmetruck.com" enctype="text/plain" method="get">
			<div class="control-group">
				<div class="controls">
			<p>
				Please fill in the form below for press inquiries, questions or comments
			</p>
			</div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="Name">Name:</label>
				<div class="controls">
					<input type="text" id="Name" placeholder="">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="Email">Email:</label>
				<div class="controls">
					<input type="text" id="Email" placeholder="">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="Inquiry">Inquiry:</label>
				<div class="controls">
					<textarea rows="3" id="Inquiry"></textarea>
				</div>
			</div>
			<div class="control-group">
					<input type="submit" class="btn btn-danger" value="SUBMIT">
			</div>
		</form>
	</div>
	<div class="span2 social">
	</div>
</div>
