<div class="row gallery">
	<div class="span4">
		<img src="/images/contact.jpg" alt="Contact">
		<h4 class="fullcaption">
			CONTACT
		</h4>
	</div>
	<div class="span6 contactform">
		<form class="form-horizontal">
			<div class="control-group">
				<div class="controls">
			<p>
				Please fill in the form below for press inquiries, questions or comments
			</p>
			</div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="contactName">Name:</label>
				<div class="controls">
					<input type="text" id="contactName" placeholder="">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="contactEmail">Email:</label>
				<div class="controls">
					<input type="text" id="contactEmail" placeholder="">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="contactInquiry">Inquiry:</label>
				<div class="controls">
					<textarea rows="3"></textarea>
				</div>
			</div>
			<div class="control-group">
					<button type="submit" class="btn btn-danger">SUBMIT</button>
			</div>
		</form>
	</div>
	<div class="span2 social">
	</div>
</div>
