<div class="row gallery captioned">
	<div class="span4" id="ricebowl" >
		<img src="/images/rice_bowl.png" alt="Rice Bowl">
		<h5>
			THE RICE BOWL
		</h5>
	</div>
	<div class="span4" id="sandwich" >
		<img src="/images/menu-sandwich2.png" alt="Sandwich">
		<h5>
			THE BON ME SANDWICH
		</h5>
	</div>
	<div class="span4" id="noodlesalad" >
		<img src="/images/noodle_salad.png" alt="Noodle Salad">
		<h5>
			THE NOODLE SALAD
		</h5>
	</div>
</div>
<div class="row gallery-caption  shift-left">
	<h4 class="bold">
		BOLD, FRESH, & FUN VIETNAMESE CUISINE -- FOR YOU: BON ME
	</h4>
</div>
