<div class="row gallery">
	<div class="span6">
		<img src="/images/work.png" alt="Work">
		<h4 class="fullcaption">
			WORK WITH US!
		</h4>
	</div>
	<div class="span6 form" >
		<div></div>	
	</div>
</div>
