<div class="row gallery">
	<div class="title">
	<h1>work with us!</h1>
	</div>
	<div class="span6">
		<img src="/images/work.png" alt="Work">
		<h6 class="fullcaption">
			fill out the app on the right >>
		</h6>
	</div>
	<div class="span6 form" >
		<div class="white scrolling">
			<div id="wufoo-m7x3q1" class="wufoo">
				Fill out my <a href="http://jennbonme.wufoo.com/forms/m7x3q1">online form</a>.
				</div>
				<script type="text/javascript">var m7x3q1;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'jennbonme', 
				'formHash':'m7x3q1', 
				'autoResize':true,
				'height':'280',
				'async':true,
				'header':'show'};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { m7x3q1 = new WufooForm();m7x3q1.initialize(options);m7x3q1.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>	
		</div>	
	</div>
</div>
