<div class='row'>
	<div class="span8">
		<div class='row location-days rounded-corners' >
			<div class="tablestyle">
				<ul class="nav nav-pills">
					<li>
					<a data="monday" data-toggle="pill">Monday</a>
					</li>
					<li>
					<a data="tuesday" data-toggle="pill">Tuedays</a>
					</li>
					<li>
					<a data="wednesday" data-toggle="pill">Wednesday</a>
					</li>
					<li>
					<a data="thursday" data-toggle="pill">Thursday</a>
					</li>
					<li>
					<a data="friday" data-toggle="pill">Friday</a>
					</li>
					<li>
					<a data="saturday" data-toggle="pill">Saturday</a>
					</li>
					<li>
					<a data="sunday" data-toggle="pill">Sunday</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class='span2 location-meals location'>
				<h3>&nbsp;</h3>
				<table>
					<tr><td>
						<h6>LUNCH</h6>
					</td></tr>
					<tr><td>
						<h6>DINNER</h6>
					</td></tr>
					<tr><td>
						<h6>SPECIALS</h6>
					</td></tr>
				</table>
			</div>
			<div id="location-info" class='span6'>
			
			</div>
		</div>
	</div>
	<div class='span4 twitter'>
		<h3 class="rounded-corners">@ BONME</h3>
		<a class="twitter-timeline" href="https://twitter.com/bonme" data-widget-id="291295292307939328">Tweets by @bonme</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
