<div class='row'>
	<div class='span2 location-meal'>
	
	</div>
	<div class='span6'>
		<div class='row location-days rounded-corners' >
			<div class="tablestyle">
				<ul class="nav nav-pills">
					<li>
					<a href="#monday" data-toggle="pill">Mon</a>
					</li>
					<li>
					<a href="#tuesday" data-toggle="pill">Tues</a>
					</li>
					<li>
					<a href="#wednesday" data-toggle="pill">Wed</a>
					</li>
					<li>
					<a href="#thursday" data-toggle="pill">Thur</a>
					</li>
					<li>
					<a href="#friday" data-toggle="pill">Fri</a>
					</li>
					<li>
					<a href="#saturday" data-toggle="pill">Sat</a>
					</li>
					<li>
					<a href="#sunday" data-toggle="pill">Sun</a>
					</li>
				</ul>
			</div>
			<div class='row'>
				<div class='span2'>
				</div>
				<div class='span2'>
				</div>
				<div class='span2'>
				</div>
			</div>
		</div>
	</div>
<div class='span4 twitter'>
<h3 class="rounded-corners">@ BONME</h3>
<a class="twitter-timeline" href="https://twitter.com/bonme" data-widget-id="291295292307939328">Tweets by @bonme</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
