/* Bon Me Style
 * samirahmed 2013 */
/* Base CSS */
body{
	background-color: #53D7E9;
	font-family:'Quicksand', sans-serif;
}

h1,h2,h3{
	font-family:'Quicksand',sans-serif;
}

h4{
	font-family:'Quicksand', sans-serif;
}

/* Header */
.logo {
	background-image: url('/images/large_logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 110px;	
}

/* Footer */
footer{
	background-color: #4B4B49;
	color: #aaa;
	position: fixed;
	bottom: 0px;
	width:100%;
}

.foot {
	padding-top:10px;
}
.foot * {
	color: white;
	font-size: 8pt;
	text-align:center;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
}

/*Menu Bar*/
div.menubar{
	background-color: #FBF652;
	box-shadow: 0px 5px 5px #666;
	margin-bottom: 20px;
}

.menubar > div{
	display:table; 
	margin: 0 auto;
	min-width: 771px;
}

.menubar > div  > ul { 
	margin: 0 20px;
}

.menubar > div > ul > li { 
	margin: 0 10px;
}

.menulink{
	color: #6F6102;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
	font-size: 14pt;
	font-style: bold;
}

.nav > li > .menulink:hover {
	background-color:#FFD600;
	color: black;/*#966600;*/
}

/* Contact */
.contactform {
	background-color:#E78F51;
	height:280px;
	padding:10px;
}

.contactform p {
	margin-top: 5px;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
	font-size: 12pt;
	font-style: bold;
}

.contactform .control-group{
	margin-bottom:10px;
}

.contactform .controls {
	margin-left:50px;
}

.contactform label.control-label{
	width:100px;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight:bold;
}

.contactform .btn{
	text-align: center;
	display: block;
	float: center;
	margin: 10px auto;
	padding: 5px 50px;
	font-family: "Quicksand", sans-serif;
	font-size:12pt;
}

.social {
	height:300px;
	background-color:#444;
}

/* Gallery */
.gallery{
	padding: 0 20px;
	margin-top : 30px;
}

.gallery img {
	height: 300px;
	width:300px;
	margin:0;
}

.gallery div{
	margin:0;
	max-height:300px;
}

.fullcaption , .gallery h5{
	position:relative;
	top: -30px;
	margin: 0;
	float:right;
	background-color: rgba(0,0,0,0.7);
	color: white;
	font-family:"OstrichSansMedium";
	padding: 5px 5px 5px 50px;
	font-size: 20px;
}

.gallery-caption{
	background-color: #FBFBF5;
	padding: 6px 0;
	margin: 0 40px 0 0px;

}

.gallery-caption * {
	margin:0;
	text-align:center;
}

.fullcaption {
	width:100%;
	padding: 25px 0 ;
	font-family:"Quicksand", sans-serif;
	top:-70px;
	text-align:center;
	font-size:40px;
}

/*Location*/
.location-meals{
	background-color:#E47127;
	border: 3px solid white;
	margin-left:0;
	margin-top: 40px;
}

.location-meals h6{
	color: black;
	text-align:center;
	font-size: 24px;
	font-weight:normal;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
}

.location-days{
	background-color:#5dc350;
	border: 3px solid white;
}
.location-days ul{ 
	margin: 5px auto;
	width:100%;
}

.location-days a{
	color: white;
	font-size: 10pt;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
}

.location-days li > a:hover{ background-color: darkgreen;}
.location-days .active > a:hover{ background-color: #018D12;}
.location-days .active > a{ background-color: #018D12;}

.blue {
	background-color: #32a5e9;
}

.yellow {
	background-color:#F3F93A;
}

.grey {
	background-color: #D3D3D3;
}

.blue {
	background-color: #32A5E9;
}

.location{
	border: 3px solid white;
	margin-top: 15px;
	margin-left:13px;
}

.location table{
	width:100%;
}

.location tr { 
	height: 100px;
}

.location * {
	text-align:center;
	vertical-align:middle;
}

.location h4 {
	font-size:20pt;
	font-weight:bold;
	margin: 20px 0;
}

.location h1 {
	font-weight: 400;
	font-size:14pt;
}

.location h2 {
	font-size: 10pt;
}

.location h3 {
	font-size:8pt;
}

.location h3 a {
	color: #747474;
}

.location h1, .location h2, .location h3 {
	margin:4px;
	line-height:100%;
}

/*Twitter*/
.twitter {
}

.twitter-icon {
	background-image: url('/assets/icons/twitter.png');
	height:30px;
	background-repeat: no-repeat;
}

.twitter h3{
	text-align:center;
	color:white;
	background-color: #3688A5;
	font-weight:300;
	margin:0;
	position: relative;
	top: 5px;
	z-index:-1;
}

/*Utility*/
.rounded-corners{
	border-radius: 5px;
  	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
}

.tablestyle{
	display:table;
	margin-left: auto;
	margin-right:auto;
}
