/* Bon Me Style
 * samirahmed 2013 */
/* Base CSS */

.buffered {
	margin-top:40px;
	margin-bottom:40px;
}

p{
	font-family:'Quicksand',sans-serif;
	font-weight:bold;
}

body{
	background-color: #53D7E9;
	font-family:'Quicksand', sans-serif;
}

h1,h2,h3{
	font-family:'Quicksand',sans-serif;
}

h4{
	font-family:'Quicksand', sans-serif;
}

/* Header */
.logo {
	background-image: url('/images/large_logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 120px;	
}


/*Sticky Footer Stuff */
html, 
body {
	height: 100%;
}

#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

#push,
#footer{
    height: 100px;
}

/* Footer */

footer{
	background-color: #4B4B49;
	color: #aaa;
	width:100%;
}

.foot {
	padding-top:30px;
}
.foot * {
	color: white;
	font-size: 8pt;
	text-align:center;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
}

/*Menu Bar*/
div.menubar{
	background-color: #FBF652;
	box-shadow: 0px 5px 5px #666;
	margin-bottom: 20px;
}

.menubar > div{
	display:table; 
	margin: 0 auto;
	min-width: 771px;
}

.menubar > div  > ul { 
	margin: 0 20px;
}

.menubar > div > ul > li { 
	margin: 0 10px;
}

.menulink{
	color: #6F6102;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
	font-size: 14pt;
	font-style: bold;
}

.nav > li > .menulink:hover {
	background-color:#FFD600;
	color: black;/*#966600;*/
}

/* info */
.info{
	background-color:#7A5E66;
	margin:30px 0 0 -20px;
	box-shadow: 5px 5px 6px 1px #444;
}

.info *{
	color: white;
}

.info h4, .info  h5, .info h6{
	text-align:center;
	margin: 20px 0 ;
}

.info p{
	margin:0px 30px 20px;
	font-family: "Quicksand";
	font-size: 10pt;
	font-weight:bold;
	text-transform: uppercase;
}

.info a{
	text-decoration:none;
	font-weight:bold;
	margin:0;
}

/* Contact */
.contactform {
	background-color:#E78F51;
	height:280px;
	padding:10px;
}

.contactform p {
	margin-top: 5px;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
	font-size: 12pt;
	font-style: bold;
}

.contactform .control-group{
	margin-bottom:10px;
}

.contactform .controls {
	margin-left:50px;
}

.contactform label.control-label{
	width:100px;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight:bold;
}

.contactform .btn{
	text-align: center;
	display: block;
	float: center;
	margin: 10px auto;
	padding: 5px 50px;
	font-family: "Quicksand", sans-serif;
	font-size:12pt;
}

.social {
	height:300px;
	background-color:#444;
}

/* Form Styles */
.gallery .form {
	background-color:#E78F51;
	height:300px;
}

/* Gallery */
.gallery{
	padding: 0 20px;
	margin-top : 0px;
}

.gallery-spaced .span4{
	margin-left:10px;
	max-width: 290px;
}

.gallery .icon{
	height:30px;
	width:auto;
	margin-top:-6px;
	margin-left:10px;
	vertical-align:middle;
}

.gallery img {
	height: 300px;
	width:100%;
	margin:0;
}

.gallery div{
	margin:0;
	max-height:300px;
}

h6.fullcaption {
	font-size: 23px;
padding: 15px 0;
}

.fullcaption , .captioned h5{
	position:relative;
	top: -30px;
	margin: 0;
	float:right;
	background-color: rgba(0,0,0,0.7);
	color: white;
	font-family:"OstrichSansMedium";
	padding: 5px 5px 5px 50px;
	font-size: 20px;
	text-transform:uppercase;
}

.shift-left{
	margin: 0 40px 0 0px;
}

.gallery-caption{
	background-color: #FBFBF5;
	padding: 6px 0;
}

.gallery-caption * {
	margin:10px 15px;
	text-align:center;
	font-weight:normal;
}

.gallery-caption .bold {
	font-weight:bold;
}

.fullcaption {
	width:100%;
	padding: 25px 0 ;
	font-family:"Quicksand", sans-serif;
	text-align:center;
	top:-70px;
	font-size:40px;
}

/*Location*/
.location-meals{
	background-color:#E47127;
	border: 3px solid white;
	margin-left:0;
	margin-top: 40px;
}

.location-meals h6{
	color: black;
	text-align:center;
	font-size: 24px;
	font-weight:normal;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
}

.location-days{
	background-color:#5dc350;
	border: 3px solid white;
}
.location-days ul{ 
	margin: 5px auto;
	width:100%;
}

.location-days a{
	color: white;
	font-size: 10pt;
	font-family: 'Rockwell', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
}

.location-days li > a:hover{ background-color: darkgreen;}
.location-days .active > a:hover{ background-color: #018D12;}
.location-days .active > a{ background-color: #018D12;}


.yellow {
	background-color:#F3F93A;
}

.grey {
	background-color: #D3D3D3;
}

.blue {
	background-color: #0CF;
}

.location{
	border: 3px solid white;
	margin-top: 15px;
	margin-left:13px;
}

.location table{
	width:100%;
}

.location tr { 
	height: 100px;
}

.location * {
	text-align:center;
	vertical-align:middle;
}

.location h4 {
	font-size:15pt;
	font-weight:bold;
	margin: 20px 0;
}

.location h1 {
	font-weight: bold;
	font-size:14pt;
}

.location h2 {
	font-size: 10pt;
}

.location h3 {
	font-size:8pt;
}

.location h3 a {
	color: #747474;
}

.location h1, .location h2, .location h3 {
	margin:4px;
	line-height:100%;
}

/*Twitter*/
.twitter {
	margin-bottom:20px;
}

.twitter-icon {
	background-image: url('/assets/icons/twitter.png');
	height:30px;
	background-repeat: no-repeat;
}

.twitter h3{
	text-align:center;
	border: 5px solid white;
	color:white;
	background-color: #3688A5;
	font-weight:300;
	margin:0 ;
	position: relative;
	top: 5px;
	z-index:-1;
}

/*Utility*/
.rounded-corners{
	border-radius: 5px;
  	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
}

.tablestyle{
	display:table;
	margin-left: auto;
	margin-right:auto;
}

.fullimage img{
	float:center;
	display:block;
	margin:20px auto;
}

.order{
	margin:10px 0 20px;
	text-align:center;
}

.full-page{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

#sunburst{
	z-index:-3;
}

#opaque{
 	z-index:-2;
  	opacity:0.8;
	background:#53D7E9;
}

.title{
	text-align:center;
}

.title h1, .title h2, .title h3, .title h4, .title h6{
	background-color:#444;
	color:white;
	margin:0;
	padding:10px;
	line-height:40px;
	font-weight:300;
	text-transform: lowercase;
}

.wufoo{
	margin:0;
	padding: 30px 5px 10px 20px;
}

.white{
	background-color:white;
}

.scrolling{
	max-height:300px !important;
	overflow :scroll;
}

.padded{
	padding:20px;
}
/*Xcontent*/

a.btn-warning.btn-large{
padding: 10px 40px;
}

/* About */
.about div{
	margin-left:0px;
}

.about p {
	font-size:13pt;
}

.about .white{
	z-index:10000;
	margin-top:0px;
	max-height:250px!important;
	border: 24px solid  #EBEB1E;
	padding:15px 25px;
	text-align:left;
	box-shadow: 5px 5px 6px 1px #444;
}

.about .fullcaption{
	background-color: rgba(50,50,50,0.9);
	font-size:35px;
	width:100%;
	position:relative;
	//left:112px;
	margin-top:50px;
}

/* Menu */
.menu .display {
}

.menu .scrolling{
	overflow:scroll;
	max-height: 355px;
	
}

.menu .middle-caption{
	top:-200px;
	text-transform:uppercase;
	padding:10px 0;
}

.menu .contain {
	overflow:hidden;
	max-height: 355px;
}


.menu .span4, .menu .span8{
	margin-left:0px;
}

.menu .display img{}

.menu .display {
	min-height:355px;
	margin-bottom:0;
	height:350px;
}

.menu .carousel p{
	color:white;
	background-color: rgba(0,0,0,0.7);
	position:absolute;
	max-width:200px;
	font-size:15px;
	line-height:20px;
	padding:10px;
	font-weight:normal;
	top:100px;
}

.menu .carousel p.fatter {
	max-width:300px;
}

.menu #sandwich{
	float:right;
}

.menu #rice{
	float:left;
	margin-left:20px;
}

.menu #noodle{
	float:right;
	margin-right:0px;
}

.bottom{
	top:90%;
}

.menu .carousel-control {
	color:black;
	border:none;
	background-color: transparent;
}

.leftish{
	left:50px;
}

.rightish{
	right:50px;
}

.middlish{
	position:absolute;
	top:50%;
}

.menu .nav-list > .active > a{
  	background-color:#FF7000;
}

.menu .nav-list > .active > a:hover{
  	background-color:#FF7000;
}

.menu .menu-nav{
	background-color: #FFC200;
}

.menu .sidebar a:hover{
	background-color:#FF8F00;
 	opacity:1;	
}

.menu .sidebar a{
	color:white;
	text-align:right;
	text-transform:uppercase;
	font-weight:normal;
	padding: 15px 10px;
	line-height:25px;
	font-size:20pt;
}

.no-bullet ul{
	list-style-type: none;
	margin:20px 20px;
}

.no-bullet li{
 	font-size:20px;
	line-height:35px;
	text-transform:uppercase;
	margin:10px 0:
}

.fillings img{
	float:center;
	margin:0 auto;
}

.side{}
