<div id="info">
	<div class='row'>
		<div class='span2 blue location'>
			<h4>BLUE<br>TRUCK</h4>
			<table>
				<tr><td>
					<% copy :b_friday_lunch do %>
					<h2>11am to 3pm</h2>
					<h1>Boston University</h1>
					<h3><a href="http://goo.gl/maps/0ztam">580 Comm Ave</a></h3>
					<% end %>
				</td></tr>
				<tr><td>
					<% copy :b_friday_dinner do %>
					<h2>11am to 3pm</h2>
					<h1>Boston University</h1>
					<h3><a href="http://goo.gl/maps/0ztam">580 Comm Ave</a></h3>
					<% end %>
				</td></tr>
				<tr><td>
					<% copy :b_friday_special do %>
					&nbsp;
					<% end %>
				</td></tr>
			</table>
		</div>
		<div class='span2 yellow location'>
			<h4>YELLOW<br>TRUCK</h4>
			<table>
				<tr><td>
					<% copy :y_friday_lunch do %>
					<h2>11am to 3pm</h2>
					<h1>Boston University</h1>
					<h3><a href="http://goo.gl/maps/0ztam">580 Comm Ave</a></h3>
					<% end %>
				</td></tr>
				<tr><td>
					<% copy :y_friday_dinner do %>
					<h2>11am to 3pm</h2>
					<h1>Boston University</h1>
					<h3><a href="http://goo.gl/maps/0ztam">580 Comm Ave</a></h3>
					<% end %>
				</td></tr>
				<tr><td>
					<% copy :y_friday_special do %>
					&nbsp;
					<% end %>
				</td></tr>
			</table>
		</div>
		<div class='span2 orange location'>
			<h4>RED<br>TRUCK</h4>
			<table>
				<tr><td>
					<% copy :r_friday_lunch do %>
					<h2>11am to 3pm</h2>
					<h1>Boston University</h1>
					<h3><a href="http://goo.gl/maps/0ztam">580 Comm Ave</a></h3>
					<% end %>
				</td></tr>
				<tr><td>
					<% copy :r_friday_dinner do %>
					<h2>11am to 3pm</h2>
					<h1>Boston University</h1>
					<h3><a href="http://goo.gl/maps/0ztam">580 Comm Ave</a></h3>
					<% end %>
				</td></tr>
				<tr><td>
					<% copy :r_friday_special do %>
					&nbsp;
					<% end %>
				</td></tr>
			</table>
		</div>
	</div>
</div>
