<div class='span6'>
	<div class='row'>
		<div class='span2 blue location'>
			<h3>BLUE</h3>
			<table>
				<tr><td>
					<% copy :monday_lunch do %>lunch<% end %>
				</td></tr>
				<tr><td>
					<% copy :monday_dinner do %>lunch<% end %>
				</td></tr>
				<tr><td>
					<% copy :monday_special do %>lunch<% end %>
				</td></tr>
			</table>
		</div>
		<div class='span2 yellow location'>
			<h3>YELLOW</h3>
			<table>
				<tr><td>
					<% copy :monday_lunch do %>lunch<% end %>
				</td></tr>
				<tr><td>
					<% copy :monday_dinner do %>lunch<% end %>
				</td></tr>
				<tr><td>
					<% copy :monday_special do %>lunch<% end %>
				</td></tr>
			</table>
		</div>
		<div class='span2 grey location'>
			<h3>RESTY</h3>
			<table>
				<tr><td>
					<% copy :monday_lunch do %>lunch<% end %>
				</td></tr>
				<tr><td>
					<% copy :monday_dinner do %>lunch<% end %>
				</td></tr>
				<tr><td>
					<% copy :monday_special do %>lunch<% end %>
				</td></tr>
			</table>
		</div>
	</div>
</div>
