<div id="info" class="menu display white scrolling">
	<div class="title"><h1>desserts</h1></div>
	<div class="fillings">
	<%copy :dessert do %>![dessert](http://i.imgur.com/Z9oybWb.png)<%end%>
	<div>
</div>
