<div id="info" class="menu display white scrolling">
	<div class="title"><h1>dietary restrictions</h1></div>
	<div class="fillings">
	<%copy :diet do %>![diet](http://i.imgur.com/9NNcf6c.png)<%end%>
	<div>
</div>
