<div id="info" class="menu display white scrolling">
	<div class="title"><h1>drinks</h1></div>
	<div class="fillings">
	<%copy :drinks do %>![drinks](http://i.imgur.com/ppa8dkm.png)<%end%>
	<div>
</div>
