<div id="info" class="menu display white scrolling">
	<div class="title"><h1>fillings</h1></div>
	<div class="fillings">
	<%copy :fillings do %>![filling](http://i.imgur.com/Z3gLopZ.png)<%end%>
	<div>
</div>
