<div class="row padded menu">
	<div class="span4 menu-nav">
		<ul class="sidebar nav nav-list">
			<li>
				<a data-toggle='tab' data="mains">mains</a>
			</li>
			<li>
				<a data-toggle='tab' data="fillings">fillings</a>
			</li>
			<li>
				<a data-toggle='tab' data="sides">Sides</a>
			</li>
			<li>
				<a data-toggle='tab' data="drinks">Drinks</a>
			</li>
			<li>
				<a data-toggle='tab' data="desserts">Desserts</a>
			</li>
			<li>
				<a data-toggle="tab" data="diet">Dietary Restrictions</a>
			</li>
		</ul>
	</div>
	<div class="span8">
		<div id="menu-info">
			<div class="menu white contain">
				<img style="margin-left:-1px; height:355px;" src="/images/menu-landing.png" alt="sandwich">
				<h6 class="fullcaption middle-caption">bold flavors. fresh food. fun times.</h6>
			</div>
		</div>
	</div>
</div>
