<div id="info" class="menu display white contain">
	<div class="title"><h1>Sides</h1></div>
	<img id="sandwich" src="/images/sides.png" alt="sides">
	<div class="span4">
	<div class="sides no-bullet">
	<%copy :sides_label do %>
- edamame
- deviled tea eggs
- green papaya salad
- asian greens
	<% end%>
	</div>
	</div>
	<div class="span1">
	<div class="prices no-bullet">
	<%copy :sides_price do %>
- $2
- $2
- $3
- $2.50
	<% end%>
	</div>
	</div>
</div>
