<div class="row gallery gallery-spaced">
	<div class="span4" id="individual" >
		<a href="/catering/individual">
			<img src="/images/individual.png" alt="Rice Bowl">
			<h6 class="fullcaption">
				INDIVIDUAL SIZE
			</h6>
		</a>
	</div>
	<div class="span4" id="platters" >
		<a href="/catering/platters">
			<img src="/images/platters.png" alt="Sandwich">
			<h6 class="fullcaption">
				PLATTERS
			</h6>
		</a>
	</div>
	<div class="span4" id="truckevents" >
		<a href="/catering/truck">
			<img src="/images/truckevent.png" alt="Noodle Salad">
			<h6 class="fullcaption">
				TRUCK EVENTS
			</h6>
		</a>
	</div>
</div>

<div class="row gallery gallery-spaced">
	<div class="span4 gallery-caption">
		<h4>
			INDIVIDUAL SIZED MEALS PERFECT FOR SMALL GATHERING & PARTIES
		</h4>
	</div>
	<div class="span4 gallery-caption">
		<h4>
			SHARING IS CARING, PLATTERS TO KEEP THE WHOLE OFFICE FED!
		</h4>
	</div>
	<div class="span4 gallery-caption">
		<h4>
			MAKE IT A PARTY EVERYONE WILL REMEMBER WITH YOUR OWN FOOD TRUCK FEST
		</h4>
	</div>
</div>
<br>
<%= erb :'components/order.html' %>
