<footer id="footer">
<div class="container">
	<div class="row foot" >
		<div class="span3 offset1">
			<p>One Kendall Sq. Cambridge, MA 02139</p>
		</div>
		<div class="span5">
			<p>info@bondmetruck.com<br>
			BOLD, FRESH, FUN: BON ME 2013 // ALL RIGHTS RESERVERD
		</div>
		<div class="span2">
			<p>tel:617-942-1656</p>
		</div>
	</div>
</div>
</footer>
